plexus-container-default/xsd/plexus-configuration-1.3.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.1 on 2021-12-26 22:26:20,                       -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://plexus.codehaus.org/PLEXUS/1.3.0" targetNamespace="http://plexus.codehaus.org/PLEXUS/1.3.0">
  <xs:element name="plexus" type="PlexusDescriptor">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        Plexus Container descriptor, that can be used to configure the plexus container and runtime in addition
        to declaring components.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PlexusDescriptor">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        Plexus Container descriptor, that can be used to configure the plexus container and runtime in addition
        to declaring components.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="load-on-start">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">TBD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="system-properties">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">TBD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="configurations-directory">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">TBD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="logging">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">TBD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="component-repository">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">TBD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="resources">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">TBD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="component-manager-manager">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">TBD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="component-discoverer-manager" type="ComponentDiscovererManager">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">TBD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="component-factory-manager">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">TBD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="lifecycle-handler-manager">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">TBD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="component-composer-manager">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">TBD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="components">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
            The component descriptors that can be found within this plexus descriptor, exactly like in
            &lt;a href=&quot;plexus-components.html&quot;&gt;&lt;code&gt;components.xml&lt;/code&gt;&lt;/a&gt;.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ComponentDiscovererManager">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        see &lt;code&gt;org.codehaus.plexus.component.discovery.ComponentDiscovererManager&lt;/code&gt;
        &lt;a href=&quot;./xref/org/codehaus/plexus/component/discovery/ComponentDiscovererManager.html&quot;&gt;source&lt;/a&gt;
        &lt;a href=&quot;./apidocs/org/codehaus/plexus/component/discovery/ComponentDiscovererManager.html&quot;&gt;javadoc&lt;/a&gt;.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="listeners">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="listener" minOccurs="0" maxOccurs="unbounded" type="ComponentDiscoveryListener"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="component-discoverers">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="component-discoverer" minOccurs="0" maxOccurs="unbounded" type="ComponentDiscoverer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="implementation" type="xs:string">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">Implementation class.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ComponentDiscoverer" mixed="true">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        see &lt;code&gt;org.codehaus.plexus.component.discovery.ComponentDiscoverer&lt;/code&gt;
        &lt;a href=&quot;./xref/org/codehaus/plexus/component/discovery/ComponentDiscoverer.html&quot;&gt;source&lt;/a&gt;
        &lt;a href=&quot;./apidocs/org/codehaus/plexus/component/discovery/ComponentDiscoverer.html&quot;&gt;javadoc&lt;/a&gt;.
      </xs:documentation>
    </xs:annotation>
    <xs:all/>
    <xs:attribute name="implementation" type="xs:string">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">Implementation class.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ComponentDiscoveryListener" mixed="true">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        see &lt;code&gt;org.codehaus.plexus.component.discovery.ComponentDiscoveryListener&lt;/code&gt;
        &lt;a href=&quot;./xref/org/codehaus/plexus/component/discovery/ComponentDiscoveryListener.html&quot;&gt;source&lt;/a&gt;
        &lt;a href=&quot;./apidocs/org/codehaus/plexus/component/discovery/ComponentDiscoveryListener.html&quot;&gt;javadoc&lt;/a&gt;.
      </xs:documentation>
    </xs:annotation>
    <xs:all/>
    <xs:attribute name="implementation" type="xs:string">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">Implementation class.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>