plexus-container-default/xsd/plexus-components-1.3.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.1 on 2019-10-23 15:26:37,                       -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://plexus.codehaus.org/COMPONENTS/1.3.0" targetNamespace="http://plexus.codehaus.org/COMPONENTS/1.3.0">
  <xs:element name="component-set" type="ComponentSetDescriptor">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        Contains a set of ComponentDescriptors and the set&apos;s dependencies.
        See &lt;a href=&quot;apidocs/org/codehaus/plexus/component/repository/ComponentSetDescriptor.html&quot;&gt;javadoc&lt;/a&gt;.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ComponentSetDescriptor">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        Contains a set of ComponentDescriptors and the set&apos;s dependencies.
        See &lt;a href=&quot;apidocs/org/codehaus/plexus/component/repository/ComponentSetDescriptor.html&quot;&gt;javadoc&lt;/a&gt;.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="components">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">The component descriptors that can be found within this component set descriptor.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="component" minOccurs="0" maxOccurs="unbounded" type="ComponentDescriptor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="dependencies">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">The dependencies that are required by the set of components found in this component set descriptor.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dependency" minOccurs="0" maxOccurs="unbounded" type="ComponentDependency"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ComponentDescriptor">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        Component instantiation description.
        See &lt;a href=&quot;apidocs/org/codehaus/plexus/component/repository/ComponentDescriptor.html&quot;&gt;javadoc&lt;/a&gt;.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="role" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the role of this component.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="role-hint" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the role-hint of this component.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="implementation" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
            the implementation of this component. Implementation is a string denoting a FQCN in normal Java
            components, or some other name or file for other component factory implementations.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="version" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">a specific point in a components&apos;s project timeline. i.e. version 1, or 2.1.4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="component-type" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the type of this component.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="instantiation-strategy" type="xs:string" default="singleton">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the type of instantiation strategy for this component: one of &quot;per-lookup&quot;, &quot;singleton&quot;, &quot;keep-alive&quot; or &quot;poolable&quot;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lifecycle-handler" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the lifecycle-handler for this component. For example, &quot;basic&quot;, &quot;passive&quot;, &quot;bootstrap&quot;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="component-profile" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description"></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="component-composer" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
            the ID of the type of composer this component will use. For example, &quot;setter&quot; or &quot;field&quot; for the
            different types of dependency injection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="component-configurator" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
            the type of component configurator for this project. For example &quot;basic&quot; for normal, or &quot;map-oriented&quot;
            for map oriented components.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="component-factory" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">an id of the factory used to create this component. For example, &quot;jruby&quot; will use a JRuby factory.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">a human-readable description of this component.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="alias" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">an alias for this component. An alias is as an alternate name other than the normal key.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="isolated-realm" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">true if this may be in an isolated classrealm.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="configuration">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">configuration values defined for this component.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="requirements">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">project requirements to this component.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="requirement" minOccurs="0" maxOccurs="unbounded" type="ComponentRequirement"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ComponentRequirement">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        This represents a component that is required by another component.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="role" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the role of the required component.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="field-name" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the name of the field that will be populated by the required component.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="role-hint" type="xs:string" default="default">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the role-hint of the required component.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="role-hints">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the role-hints of the required component.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="role-hint" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="optional" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation source="version">1.3.0+</xs:documentation>
          <xs:documentation source="description">
            Controls whether a failure to satisfy this requirement can be tolerated by host component or whether construction
            of the host component should also fail.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ComponentDependency">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="artifact-id" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the dependency&apos;s artifact ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="group-id" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the dependency&apos;s group ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="type" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the type of dependency, for example a &quot;jar&quot;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="version" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">the point in a project&apos;s development timeline</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>